<div class="profile_picture">
  <h1><%= customer.full_name %></h1>
  <br/>
  <%= image_tag customer.avatar %>
  <br/>
  <h3>Phone Number: <%= customer.phone_number %></h3>
  <h3>Email Address: <%= customer.email_address %></h3>
  <br/>
  <p><%= customer.notes %></p>
</div>